body{
    background-color: black;
}
.container{
    margin-top: 75px;
    width: 50%;
    margin-left: 25%;
    color: white;
    text-align: center;
}
.motivation-img{
    max-height: 500px;
    width: 100%;
    border: 5px solid white;
}
h1{
    font-size: 3rem;
    font-family: "Libre Baskerville", serif;
    text-transform:uppercase;
}
